<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Jayabalajee Portfolio</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>
<body>
<div th:fragment="experience-section">
    <h2 class="heading">Experience</h2>
    <h3>Freelance Developer</h3>
    <span class="education-date">2024 - Present</span>
    <h4>Java Full Stack Development</h4>
    <ul>
        <li>Developed web applications using Spring Boot, JDBC, and React</li>
        <li>Automated testing with Selenium</li>
        <li>API integrations with RESTful services</li>
    </ul>
</div>
</body>
</html>

